In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df=pd.read_csv("../data/processed/final.csv")

In [4]:
df.head()

,Port Name,State,Port Code,Border,Date,Measure,Value,Latitude,Longitude,Point
0,Jackman,Maine,104,US-Canada Border,2024-01-01,Trucks,6556,45.806,-70.397,POINT (-70.396722 45.805661)
1,Porthill,Idaho,3308,US-Canada Border,2024-04-01,Trucks,98,49.000,-116.499,POINT (-116.49925 48.999861)
2,San Luis,Arizona,2608,US-Mexico Border,2024-04-01,Buses,10,32.485,-114.782,POINT (-114.7822222 32.485)
3,Willow Creek,Montana,3325,US-Canada Border,2024-01-01,Pedestrians,2,49.000,-109.731,POINT (-109.731333 48.999972)
4,Whitlash,Montana,3321,US-Canada Border,2024-01-01,Personal Vehicles,29,48.997,-111.258,POINT (-111.257916 48.99725)

In [5]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 331884 entries, 0 to 331883
Data columns (total 10 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Port Name  331884 non-null  str
 1   State      331884 non-null  str
 2   Port Code  331884 non-null  int64
 3   Border     331884 non-null  str
 4   Date       331884 non-null  str
 5   Measure    331884 non-null  str
 6   Value      331884 non-null  int64
 7   Latitude   331884 non-null  float64
 8   Longitude  331884 non-null  float64
 9   Point      331884 non-null  str
dtypes: float64(2), int64(2), str(6)
memory usage: 25.3 MB

In [6]:
df.describe()

           Port Code          Value       Latitude      Longitude
count  331884.000000  331884.000000  331884.000000  331884.000000
mean     2488.796106     727.299126      45.108891    -100.051753
std      1221.065945    1477.954917       7.559070      18.403146
min       101.000000       0.000000      25.952000    -141.001000
25%      2307.000000       0.000000      44.992000    -114.728000
50%      3019.000000      39.000000      48.998000    -102.275000
75%      3404.000000     637.000000      49.000000     -93.401000
max      3814.000000    7800.000000      62.615000     -66.980000

In [7]:
df.isnull().sum()

Port Name    0
State        0
Port Code    0
Border       0
Date         0
Measure      0
Value        0
Latitude     0
Longitude    0
Point        0
dtype: int64

In [8]:
def detect_outliers_iqr(data, column):
    Q1 = data[column].quantile(0.25)
    Q3 = data[column].quantile(0.75)
    IQR = Q3 - Q1
    
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    
    outliers = data[(data[column] < lower_bound) | 
                    (data[column] > upper_bound)]
    
    return outliers

# Example for Value column
outliers_value = detect_outliers_iqr(df, "Value")
print("Number of outliers in Value:", len(outliers_value))

Number of outliers in Value: 49466

In [9]:
outlier_percent = (len(outliers_value) / len(df)) * 100
print(f"Outlier percentage in Value: {outlier_percent:.2f}%")

Outlier percentage in Value: 14.90%

In [10]:
duplicate_count = df.duplicated().sum()
total_rows = len(df)

duplicate_percent = (duplicate_count / total_rows) * 100

print("Total Rows:", total_rows)
print("Duplicate Rows:", duplicate_count)
print("Duplicate Percentage:", duplicate_percent)

Total Rows: 331884
Duplicate Rows: 0
Duplicate Percentage: 0.0